body{
    margin:0;
}

section {
    display: flex;
    justify-content: space-between;
}

.hero-title-text {
    font-size: 50px;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 20px;
    line-height: 1.5; 
}

.appointment-btn {
    text-decoration: none;
    display: block; /* Change from inline-block to block */
    width: auto; /* Make the button stretch across the page */
    padding: 10px 15px; /* Adjust the padding as needed */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    text-align: center; /* Center the text within the button */
    background-color: #5E131F; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
    margin: 0 auto; /* Center the button itself */
}

.appointment-btn:hover {
    color: white; /* Change the text color on hover */
    background-color: #1e1e1e;
    border: 1px solid #5E131F; /* Add a border to the button with your desired color */
}

.poster ul{
    flex-direction: column;
}

.poster {
    flex: 1;
    padding: 80px 90px 40px; /* Add padding as needed */
}

.car-image-container {
    flex: 1;
    max-width: 40%; /* Adjust the maximum width as needed */
    margin-top: 20px; /* Add margin space at the top as needed */
    padding-right: 70px;
    padding-top: 80px;
    text-align: center; /* Center the image within the container */
}

.car_image {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 70px;
}